@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color:black;
}

.container{
    margin: auto;
    width: 380px;
    height:440px;
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.container>*{
    padding: 10px;
}