@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color:black;
}

.container{
    margin: auto;
    width: 480px;
    height:520px;
    border: 2px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.container>*{
    padding: 10px;
}

.container .arrow-img img{
    width:120px;
    height:200px;
    position: absolute;
    left: 30px;
    top:77px;
}

.container .animal-img #animal-img{
    width:250px;
    height:200px;
    position: absolute;
    left:190px;
    bottom:240px;
}

.container .arrow-img .text{
    color:white;
    position: absolute;
    top:250px;
    left:33px;
    font-size: 13px;
}

.container .animal-img #right{
    position: absolute;
    left:78%;
    top:42%;
    width:64px;
    height:64px;
    background-color: white;
    border-radius: 50%;
}

.container .animal-img #left{
    position: absolute;
    background-color: white;
    left:40%;
    top:42%;
    border-radius: 50%;
    width:64px;
    height:64px;
}

.animal-img #right:hover{
    cursor: pointer;
}

.animal-img #left:hover{
    cursor: pointer;
}

.circles ul{
    display: flex;
    flex-direction: row;
    gap:10px;
    position: absolute;
    left:270px;
    top:290px;
    list-style-type: none;
}

.circle{
    width:10px;
    height:10px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 50%;
}

.selected{
    background-color: rgba(0,0,0,0.6);
}

#submit-button{
    position: absolute;
    top:330px;
    left:30px;
    width: 85%;
    height:40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #313a43;
    color:white;
}

#restart-image{
    position: absolute;
    top:400px;
    left:43%;
    width:64px;
    height:64px;
    cursor: pointer;
}

#restart-button-text{
    position: absolute;
    top:460px;
    left:44%;
}