<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertification</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header-text">Use the arrows to rotate the animal to face in the direction of the hand.</div>
        <div class="arrow-img">
            <img src="{{arrow_img}}" alt="404 Not Found">
        </div>

        <div class="animal-img">
            <img src="{{animal_img}}" alt="404 Not Found">
        </div>
    </div>
</body>
</html>