<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertification</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header-text">Use the arrows to rotate the animal to face in the direction of the hand.</div>
        <div class="arrow-img">
            <img src="{{img1}}" alt="404 Not Found">
            <div class="text">Match this angle</div>
        </div>

        <div class="animal-img">
            <img src="{{img2}}" alt="404 Not Found">
            <div class="right-button">
                <img src="../static/img/arrow_circle_images/right.png" alt="404 Not Found">
            </div>
            <div class="left-button">
                <img src="../static/img/arrow_circle_images/left.png" alt="404 Not Found">
            </div>
        </div>
    </div>
</body>
</html>